@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body{
    font-family: 'Varela', sans-serif;
    background-color: #212F3D;
    color: white;
}

a{
    text-decoration: none;
}

pre{
    font-family: 'Varela', sans-serif;
}

.forminput{
    font-family: 'Varela', sans-serif;
    width: 300px;
    background:#2a3d50;
    color: white;
    padding: 18px 24px;
    margin: 12px;
    border: 2px solid #3c4f63;
    border-radius: 5px;
}

.forminput:focus, .forminputselect:focus{
    outline: none;
}

.formcomplement{
    font-family: 'Varela', sans-serif;
    width: 300px;
    background: #2a3d50;
    resize: none;
    color: white;
    padding: 18px 24px;
    margin: 12px;
    border: 2px solid #3c4f63;
    border-radius: 5px;
}

.formloginregister{
    width: 500px;
    height: 500px;
}

.formloginregisteranimal{
    width: 500px;
}

.forminputselect{
    width: 150px;
    background:#2a3d50;
    color: white;
    padding: 14px 20px;
    margin: 12px;
    border: 2px solid #3c4f63;
    border-radius: 5px;
}

::placeholder{
    color: rgb(204, 203, 203);
}

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 10;
    overflow-x: hidden;
    padding-top: 20px;
}

.centeredpageinfo{
    top: 20%;
    left: 40%;
    text-align: left;
    position: relative;
}

.centeredform{
    top: 20%;
    left: 15%;
    text-align: left;
    position: relative;
}

.centeredpageinfo h1{
    width: 30%;
}

.centeredpageinfo p{
    text-align: left;
}

.left{
    left: 0;
}

.right{
    right: 0;
}

.firstformbutton{
    background-color: #fee3ae;
    border: none;
    color: black;
    padding: 18px 24px;
    margin: 12px;
    border-radius: 5px;
}

.header_register, .header_login{
    margin-left: 20%;
    margin-right: 22%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.header_login .link_signup:link, .header_login .link_signup:visited, .header_login .link_signup:hover, .header_login .link_signup:active{
    text-decoration: none;
    color: white;
}

.header_login .link_login:link, .header_login .link_login:visited, .header_login .link_login:hover, .header_login .link_login:active{
    text-decoration: none;
    color: #fee3ae;
}

.header_register .link_signup:link, .header_register .link_signup:visited, .header_register .link_signup:hover, .header_register .link_signup:active{
    text-decoration: none;
    color: #fee3ae;
}

.header_register .link_login:link, .header_register .link_login:visited, .header_register .link_login:hover, .header_register .link_login:active{
    text-decoration: none;
    color: white;
}

.header_login .span_signup{
    background-color: #2a3d50;
    padding: 4px 8px;
    border-radius: 5px;
}

.header_register .span_login{
    background-color: #2a3d50;
    padding: 4px 8px;
    border-radius: 5px;
}

.formerror{
    margin-left: 2%;
    color: rgb(204, 203, 203);
}

.success{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.divloginanchor, .divregisteranchor{
    margin-top: 5%;
}

.successanchor{
    background-color: #fee3ae;
    border: none;
    color: black;
    padding: 14px 20px;
    margin: 12px;
    border-radius: 5px;;
}

.homecontainer{
    display: flex;
    flex-direction: row;
}

.splithomeleft{
    top: 0;
    position: sticky;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 22%;
}

.splithomeright{
    padding: 20px;
    height: auto;
    width: 70%;
    border-left: 1px solid #3e5c7e;
}

.adminline{
    margin-left: 5px;
    margin-bottom: 20px;
}

.profilpic{
    float: left;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 25%;    
}

.timelineprofilpic{
    float: left;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;  
    margin-right: 10px;
    margin-bottom: 10px;
}

.timelinepicname{
    display: flex;
    flex-direction: column;
}

.homeprofilpic{
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.imagedisplay{
    height: auto;
    width: auto;
    max-width: 800px;
    max-height: 800px;
}

.homenickname{
    margin-top: -15px;
    margin-bottom: -15px;
    align-self: center;
}

.homeinfo{
    display: flex;
    justify-content: space-evenly;
}

.homeinfo p{
    text-align: center;
}

.separator{
    align-self: center;
    width: 70%;
    border-bottom: 1px solid #3e5c7e;
}

.barlinkscontainer{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 12%;
}

.barlinksdiv{
    margin-bottom: 4%;
}

.barlinks{
    text-align: center;
    vertical-align:middle;
}

.barlinks:link, .barlinks:visited{
    color:rgb(204, 203, 203);
}

.barlinks:hover, .barlinks:active{
    color: white;
}

.baradminmessage{
    color: rgb(204, 203, 203);
    padding-top: 90%;
    padding-left:  12%;
}

.postformsendbutton{
    background-color: #fee3ae;
    border: none;
    color: black;
    padding: 14px 18px;
    margin: 12px;
    border-radius: 50px;
    cursor: pointer;
}

#photoinput{
    display: none;
}

.postform{
    margin-top: 1%;
}

.imageinput{
    width: 30px;
    cursor: pointer;
}

.postformbuttons{
    margin-left: 12px;
    width: 370px;
    align-items: center;
    justify-content:space-between;
    display: flex;
}

#searchbar{
    background-image:url("../images/searchlogo.png "); 
    background-repeat: no-repeat; 
    background-position: 9px 9px;
    background-size: 2em;
    text-indent: 30px;
    width: 20%;
    background-color: #fee3ae;
    border: none;
    outline: none;
    color: black;
    padding: 14px 18px;
    margin: 12px;
    border-radius: 50px;
}

.searchicon{
    padding-left: 30px;
    text-align: center;
}

.postdisplay{
    width: 60%;
    word-wrap: break-word;
}

.publicationbuttons{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-right: 40%;
}

.buttoncontainer{
    display: flex;
    align-items: center;
}

.buttoncontainer div{
    padding: 5px;
}

.buttoncontainer p{
    margin-top: 12px;
}

.deletebuttonchild:link, .deletebuttonchild:visited, .deletebuttonchild:hover, .deletebuttonchild:active{
    color: white;
}

.likebuttonchild:link, .likebuttonchild:visited, .likebuttonchild:hover, .deletebuttonchild:active{
    color: red;
}

.reportbuttonchild:link, .reportbuttonchild:visited, .reportbuttonchild:hover, .deletebuttonchild:active{
    color: white;
}

.timelinenickname{
    color: #fee3ae;
}

.posts{
    display: flex;
    padding: 20px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    min-width: 100%;
    width: 100%;
    border: 1px #3e5c7e;
    border-style: solid;
    flex-direction: column;
}