@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

body{
    font-family: 'Varela', sans-serif;
    background-color: #212F3D;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#adminline{
    margin-left: 5px;
    margin-bottom: 20px;
}